.dub
docs.json
__dummy.html
docs/
/projekt
projekt.so
projekt.dylib
projekt.dll
projekt.a
projekt.lib
projekt-test-*
*.exe
*.o
*.obj
*.lst
.idea
.vscode
libcrypto-1_1-x64.dll
libssl-1_1-x64.dll
dub.selections.json